$Grey: #9FA2B4;
$NavyBlue:#363740;
$LightNavyBlue:#525461;
$LightBlue:#DDE2FF;
$BlueWhite:#DFE0EB;
$BlueWhite2:#F7F8FC;
$White:white;
$medGrey:#C5C7CD;
$Blue:#2050AD;
$Grey2:#87888C;

:export {
  Grey: $Grey;
  NavyBlue:$NavyBlue;
  LightNavyBlue:$LightNavyBlue;
  LightBlue:$LightBlue;
  BlueWhite:$BlueWhite;
  BlueWhite2:$BlueWhite2;
  White:$White;
  medGrey:$medGrey;
  Blue:$Blue;
  Grey2:$Grey2;
}